<form action='/' method='post'>
  <label for="input">Enter a word:</label>
  <input type="text" name="input">
  <button type="submit" name="button">Tally Score</button>
</form>
<div>
<h2>score is: @Model</h2>
</div>
